.DS_Store

deployment/express/local_server/node_modules/
deployment/express/static/models/weights_sigmoid_mse_loss_js/

deployment/flask/__pycache__
deployment/flask/static/hello.html
deployment/flask/models/weights_sigmoid_mse_loss.hdf5
deployment/flask/sample_app.py
deployment/flask/hello_app.py

training/.ipynb_checkpoints/*

training/original_dataset/*.JPG

training/squared_dataset/*.JPG
!training/squared_dataset/IMG_7019.JPG
!training/squared_dataset/IMG_7043.JPG
!training/squared_dataset/IMG_7048.JPG
!training/squared_dataset/IMG_7052.JPG
!training/squared_dataset/IMG_7089.JPG
!training/squared_dataset/IMG_7135.JPG

training/squared_mask/*.JPG
!training/squared_mask/IMG_7019_mask.JPG
!training/squared_mask/IMG_7043_mask.JPG
!training/squared_mask/IMG_7048_mask.JPG
!training/squared_mask/IMG_7052_mask.JPG
!training/squared_mask/IMG_7089_mask.JPG
!training/squared_mask/IMG_7135_mask.JPG
